{
  "mqtt": {
    "host": "localhost",
    "port": 1883,
    "keepalive": 60,
    "tls": false,
    "ca_certs": "",
    "username": "",
    "password_file": "",
    "certfile": "",
    "keyfile": ""
  },
  "logging": { "level": "INFO" }
}
